{% extends 'base.html' %}
{% load humanize %}

{% block title %}| Welcome {% endblock %}
{% block content %}

<!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Car Buying Just Got So Easy
          </h1>
          <p class="lead">Experience clear and simple car buying and selling. No matter where you’re going, we’ll help you find the right car to get there.</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Sun Roof, Sport package, etc)" value="{{ values.keywords }}">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Make</label>
                  <select name="make" class="form-control">
                    <option selected="true" disabled="disabled">MAKE (All)</option>
                    {% for key, value in MAKE.items %}
                      <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
                 <div class="col-md-4 mb-3">
                  <label class="sr-only">Model</label>
                  <input type="text" name="model" class="form-control" placeholder="Model" value="{{ values.model }}">
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Year</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Year (All)</option>
                   {% for key, value in YEAR.items %}
                      <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price</option>
                    {% for key, value in max_price.items %}
                      <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'partial/_alerts.html' %}
  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Last Posted</h3>
      <div class="row">
          <div class="row">
        {% if cars %}
          {% for car in cars %}
                <!-- Listing -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{{ car.photo_main.url }}" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">${{car.price | intcomma}}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <a href="{% url 'detail_view' car.id %}">
                <h4 class="text-primary">{{ car.title }}</h4></a>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{car.city}} {{car.state}}, {{car.state}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas"></i> Mileage: {{car.odometer|intcomma}}</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Engine: {{car.engine}}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-dollar-sign"></i> {{car.price}}</div>
                <div class="col-6">
                  <i class="fas fa-cogs"></i> {{car.transmission}}</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6"> 
                  <i class="fas fa-user"></i> {{ car.salesman}}</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-12">
                  <i class="fas fa-clock"></i> {{car.list_date | timesince}}</div>
              </div>
              <hr>
              <a href="{% url 'detail_view' car.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Cars Available</p>
          </div>
        {% endif %}
      </div>
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-wrench fa-4x mr-4"></i>
          <hr>
          <h3>Maintenance Services</h3>
          <p>We employ over 1,750 ASE-certified mechanics to service our cars — before and after a sale.We spend an average of 15 hours on every car, fixing dings, replacing worn parts, and deep cleaning the interior. Then we inspect it again.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-car fa-4x mr-4"></i>
          <hr>
          <h3>Car Dealership</h3>
          <p>Our associates are paid the same regardless of a car’s price, so we only work to find the best car for you. Whether you know everything or nothing about car buying, we’re here to help your way, whatever way that might be</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Millions of cars are ruled out by our vetting process. We never sell cars with flood damage, frame damage, or salvage history. We’re proud to be your neighbors. We volunteer locally, and have given over $100 to help our neighborhoods thrive.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}